accelerate>=1.1.1
dashscope
decord
diffusers>=0.31.0
easydict
fastapi>=0.115.0
ftfy
gradio>=5.0.0
huggingface_hub>=0.24.0
imageio
imageio-ffmpeg
librosa>=0.10.1
loguru
moviepy==1.0.3
numpy>=1.23.5,<2
opencv-python>=4.9.0.80
optimum-quanto==0.2.6
python-multipart
pyloudnorm
scenedetect
scikit-image   
soundfile>=0.12.1
tokenizers>=0.20.3
torchvision>=0.19.0
transformers>=4.49.0
tqdm
requests>=2.32.0
uvicorn[standard]>=0.30.0
xfuser>=0.4.1
